

a {
	font-weight: bold;
}

.brand p{
	color: black;
	font-size: 16px;
	line-height: 30px;
}

.footer p {
	color: #fff;
}

.brand h2 {
	font-family: 'Lobster', cursive;
	font-size: 50px;
}


.final h2 {
	font-family: 'Lobster', cursive;
	font-size: 50px;
}

.final p{
	color: black;
	font-size: 16px;
	line-height: 30px;
}

footer p {
	font-weight: bold;
}
